body {
  background: #c7b39b url(../image/new-euro.jpg) no-repeat;
  background-size: cover;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100px;

  font-size: 50px;
  font-family: "Bungee Shade", cursive;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  font-family: "Bungee Shade", cursive;
}

.field {
  margin: 30px;
  margin-top: -70px;
  font-size: 80px;
}

.label {
  font-size: 50px;
  margin-left: -25px;
}

.link {
  position: absolute;
  bottom: 100px;
  left: 50%;
  text-decoration: none;
  font-size: 20px;
  font-family: "Vast Shadow", cursive;
  color: #0582a3;
}
